.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0E3D57;
    color: white;
    margin-top: 250px;
}

.progress-overview {
    margin: 20px 0;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #65A9C2;
    width: 0%;
    /* This will be dynamically updated */
}

.progress-text {
    text-align: center;
    margin-top: 10px;
}

.quiz-results {
    margin-bottom: 30px;
}

.quiz-results table {
    width: 100%;
    border-collapse: collapse;
}

.quiz-results th,
.quiz-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.quiz-results th {
    background-color: #f2f2f2;
}

.username {
    font-size: 1.3rem;
    font-weight: 600;
}

.signOutButton {
    background: #0E3D57;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
}

.signOutButton:hover {
    /* Corrected hover for myProgressButton */
    background-color: #65A9C2;
    color: #fff;
}

.BtnQuestionC:hover{
	color: white;
	cursor: pointer;
}

#generateCertificateButton {
    background-color: #0E3D57;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
#generateCertificateButton:hover {
    background-color: #65A9C2;
    color: #fff;
    cursor: pointer;
    border: none;
}

.exercise-Section {
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.exerciseBtn {
    background: #0E3D57;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block;
    width: 20%;
    text-align: center;
    margin-bottom: 3px;
}

.exerciseBtn:hover {
    /* Corrected hover for myProgressButton */
    background-color: #65A9C2;
    color: #fff;
}